* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primaryColor: rgb(35, 210, 19);
  --white: white;
  --textColor: black;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--textColor);
}
body.dark {
  --white: #191919;
  --textColor: white;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 5rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1000;
}
.logo {
  cursor: pointer;
  font-weight: bolder;
  font-size: 25px;
  z-index: 1;
}
.logo:hover {
  background-color: aqua;
}
.links {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
.links a {
  text-decoration: none;
  color: var(--textColor);
  padding: 0 10px;
  transition: transform 0.3s ease;
}

.links a:hover {
  color: rgb(19, 211, 245);
  transform: scale(1.1);
}
.inpo[type="checkbox"] {
  display: none;
}
.mylabel {
  width: 60px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid var(--primaryColor);
  cursor: pointer;
  position: relative;
  color: #000;
}

.mylabel::before {
  position: absolute;
  content: "Dark";
  height: 100%;
  width: 30px;
  background-color: var(--primaryColor);
  border-radius: 25px;
  font-size: 8px;
  display: grid;
  place-items: center;
  color: white;
  transition: 0.2s;
}
.inpo[type="checkbox"]:checked + .mylabel::before {
  content: "Light";
  color: black;
  transform: translateX(30px);
}
main {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}

main .hero {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.hero h1 {
  font-size: 40px;
}
.job {
  font-weight: bolder;
  color: var(--primaryColor);
  font-family: sans-serif;
  font-size: 1.5rem;
}
.bio {
  color: grey;
}
.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.buttons a {
  text-decoration: none;
  color: #000;
}
button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: var(--primaryColor);
  cursor: pointer;
  font-weight: bold;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}
.social a {
  color: var(--primaryColor);
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  transition: 0.2s;
}
.social a:hover {
  transform: scale(1.2);
}
.copyright{
  text-align: center;
}

.back {
  width: 350px;
  height: 250px;
  background-color: var(--primaryColor);
  overflow: hidden;
  border-radius: 69% 34% 30% 70% / 60% 40% 60% 43%;
  display: grid;
  place-items: center;
  box-shadow: 10px 10px 64px 15px var(--primaryColor);
  z-index: 0;
}
img {
  width: 350px;
}
.skills {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.card {
  background-color: #f0f0f0;
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
  padding: 20px;
  transition: width 0.3s ease;
  height: 17em;
  text-align: center;
  width: 30%;
  box-shadow: 0 4px 8px var(--primaryColor);
  display: grid;

  place-items: center;
}
.card:hover {
  background-color: var(--primaryColor);
  transition: ease-in-out 0.5s;
}
.card h2 {
  color: #000;
}
.card ol li {
  color: #000;
  flex-wrap: wrap;
}
.contacts h1 {
  text-align: center;
  margin-top: 20px;
}
.contact-form {
  max-width: 600px;
  color: #000;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--primaryColor);
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
}

/* Style for submit button */
input[type="submit"] {
  background-color: var(--primaryColor);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.contact-form input[type="submit"]:hover {
  transform: scale(1.1);
  background-color: rgb(21, 255, 12);
}
.education {
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 80px;
}
.section-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.education-item {
  margin-bottom: 80px;
  border-left: 4px solid #3498db;
  padding-left: 10px;
}
.education-item h3 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #333;
}
.education-item p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}
.date {
  font-size: 16px;
  color: #777;
}
@media only screen and (max-width: 672px) {
  header {
    padding-left: 30px;
    padding-right: 60px;
    width: 110%;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: small;
  }
  img {
    width: 300px;
  }
  .back {
    width: 250px;
    height: 230px;
    background-color: var(--primaryColor);
    overflow: hidden;
    border-radius: 69% 34% 30% 70% / 60% 40% 60% 43%;
    display: grid;
    place-items: center;
    box-shadow: 10px 10px 64px 15px var(--primaryColor);
  }
  .skills {
    display: block;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .card:hover {
    background-color: var(--primaryColor);
    transition: ease-in-out 0.5s;
  }
  .contact-form {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  header {
    margin-left: -25px;
  }
  .buttons {
    display: flex;
    text-align: center;
    gap: 10px;
    margin-top: 40px;
    width: 15px;
    height: 30px;
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--primaryColor);
    cursor: pointer;
    font-weight: bold;
  }
  .social {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.3rem;
    margin-right: 3rem;
  }
  .back {
    width: 230px;
    height: 230px;
    background-color: var(--primaryColor);
    overflow: hidden;
    border-radius: 69% 34% 30% 70% / 60% 40% 60% 43%;
    display: grid;
    place-items: center;
    box-shadow: 10px 10px 64px 15px var(--primaryColor);
    z-index: 0;
  }
  img {
    width: 250px;
  }
  .inpo[type="checkbox"] {
    display: none;
  }
  .mylabel {
    width: 45px;
    height: 20px;
    border-radius: 25px;
    border: 2px solid var(--primaryColor);
    cursor: pointer;
    position: relative;
  }
  .inpo[type="checkbox"]:checked + .mylabel::before {
    content: "Light";
    color: black;
    transform: translateX(15px);
  }
  .skills {
    display: block;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .contact-form {
    width: 90%;
  }

  .contact-label {
    border: none;
    margin-left: 55px;
    top: 5%;
  }
  .contact-form textarea {
    margin-top: -2px;
  }
}
@media only screen and (max-width: 370px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
    margin-left: 0.8rem;
  }
}
